@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {

    background: linear-gradient(to right, #8fb6ff, #709cf1);
    color: #ffff;



}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 8px 90px 8px 90px;
    align-items: center;
    position: relative;
    background-attachment: fixed;

}

a {
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 130%;
    padding: 8px;
    color: #ffff;
}

a:hover {
    color: #ffea2c;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.container {
    display: flex;
    flex-direction: row;

    align-items: center;
}



.flags {


    position: relative;
    margin-left: 15%;


    height: 200px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 90px;

}

.flags img {
    border-radius: 30px;
    width: 120px;
    height: 80px;
    margin: 0 8px 0 8px;
}

h3 {
    text-align: center;
    font-size: 2em;

}


h2 {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 3em;
}

.Titulo-e-Subtitulo {
    margin: 20px;
    text-align: center;
}

.Titulo-e-Subtitulo h2 {
    margin-bottom: 20px;
}

.Titulo-e-Subtitulo p {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 600;

}

.Titulo-e-Subtitulo h3 {
    margin-bottom: 20px;
}

.Titulo-e-Subtitulo h3 img {
    width: 80px;
    height: 80px;

    margin: 0;
    padding: 0;
}


.C-1 {

    margin: 20px;
    padding: 10px;
    justify-content: column;
    align-items: center;

}

.C-1 .Aline {

    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.C-1 p {

    margin: 10px;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 600;

}

.C-1 h3 {

    margin: 10px;
    font-family: 'League Spartan', sans-serif;
    background-color: #000000;
    border-radius: 20px;
}


.C-2 {

    margin: 20px;
    padding: 10px;
    justify-content: column;
    align-items: center;

}

.C-2 .Aline {

    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.C-2 p {

    margin: 10px;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 600;

}

.C-2 h3 {

    margin: 10px;
    font-family: 'League Spartan', sans-serif;
    background-color: #000000;
    border-radius: 20px;

}

.Aline img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

footer {
    background-color: #000;
    height: 150px;
    width: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

footer li {
    list-style-type: none;
}

footer a {
    font-size: 50px;
}

/*--------------/FOOTER--------------*/


@keyframes fome {
    from {
        left: -100px;
    }

    to {
        right: 200px;
    }

}